body
 { 
	margin:0; 
	padding:0; 
	}
 

#header_container 
{ 
	background:#eee;
  	height:150px; 
  	aligh: center;
  	left:0px; 
  	right:200px;
    position:absolute;
    width:100%;
    top:0; }
    
#header
{
	line-height:60px; 
	margin:0 auto; 
	width:900px; 
	text-align:center; }

#nav li {
	  float: left;
  width: 10%;
}

#nav {
	  width: 100%;
	  float: left;
	  margin: 3em 3em 0em 9em;
	  padding: 0;
	  list-style: none; 
}

#nav li a {
  padding: 0px 0px;
  text-decoration: none;
  color: black;
  font-family: "Comic Sans MS";
}

#logo
{   margins: 0px;
	position: absolute;
}
 
#container { margin:0 auto; overflow:auto; padding:80px 0; width:940px; }
#content{}
 
#footer_container { background:#eee; border:1px solid #666; bottom:0; height:60px; left:0; position:absolute; width:100%; }
#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }




