body { margin:0; padding:0; }
 

#header_container 
{ 
	background:#eee;
  	height:130px; 
  	aligh: center;
  	left:0px; 
  	right:200px;
    position:absolute;
    width:100%;
    top:0; }
    
#header
{
	line-height:60px; 
	margin:0 auto; 
	width:700px; 
	text-align:center; }

#nav li {
	  float: left;
  width: 20%;
}

#nav {
	  width: 100%;
	  float: left;
	  margin: 1em 0 3em 0;
	  padding: 0;
	  list-style: none; 
}

#nav li a {
  padding: 1px 2px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container { margin:0 auto; overflow:auto; padding:80px 0; width:940px; }
#content{}
 
/* Make Footer Sticky */
#footer_container { background:#eee; border:1px solid #666; bottom:0; height:60px; left:0; position:absolute; width:100%; }
#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }


Read more: http://techtalk.virendrachandak.com/sticky-header-and-footer-using-css/#ixzz2xxXFVXBA 
Follow us: @virendrachandak on Twitter


