#body	{
	background:#000000;
}

#hopethisworkswrap	{
		width:1100px;
		margin-left:auto;
		margin-right:auto;
		background:white;
}
#header	{
	diplay:inline;
	padding:5px	10px
	background:aqua;
}
#logo	{
	dipsplay:inline;
	margin:0em 0 0em 0em;
	padding:0em 0em 0 0;
}
#nav	{
	display:inline;
	padding:0px 0px;
	background:white;
}
#nav ul	{
	display:inline;
	margin:0 0em 1em 0;
	padding:0 0 0em 0;
	list-style:none;
}
#nav li	{
	float:right;
	margin:0 0em 1em 4em;
	padding:0px 0 0 0;
}

#nav li a	{
	color:black;
	font-family: "comic Sans MS";
}
	
}
#main	{
	float:left;
	width:500px;
	padding:10px;
	background:#99FFCC;
}
#h2	{
	margin:0 0em 0em 0
}
#sidebar	{
	float:right;
	width:500px;
	padding:5px 5px 5px 5px;
	background:#66FFFF;
	border-left: 4px solid #000000;	
}
#p	{
    font-size: 10px;
    font-family: "comic Sans MS";
    width: 80%;
    padding: 10px 10px 10px 10px;
    height: auto;
}
